@model IEnumerable<Shopping.MVCWebUI.Models.ProductModel>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-6 mb-2">
            <div class="card" style="width:100%;height:100%;min-height:230px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <a href="/Home/Details/@product.Id"><img src="/Upload/@product.Image" class="card-img img-fluid" alt="@product.Name"></a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="/Home/Details/@product.Id" class="text-dark">
                                    @if (product.Name.Length > 100)
                                    {
                                        @(product.Name.Substring(0, 100) + "...")
                                    }
                                    else
                                    {
                                        @product.Name
                                    }
                                </a>
                            </h5>
                            <p class="card-text">
                                @if (product.Description.Length > 200)
                                {
                                    @(product.Description.Substring(0, 100) + "...");

                                }
                                else
                                {
                                    @product.Description;
                                }
                                <hr />
                            </p>
                            <p class="card-text">
                                @if (product.CampaignStatus == true && product.DiscountedPrice != 0)
                                {
                                    <small class="text-muted product-price">
                                        <i class="fas fa-lira-sign" style="font-size: 18px;"></i>
                                        <s>@product.Price</s>
                                    </small>
                                    <h6 class="text-danger">
                                        Şu an indirimde !
                                        <i class="fas fa-lira-sign" style="font-size: 18px;"></i>
                                        @product.DiscountedPrice
                                    </h6>
                                }
                                else
                                {
                                    <small class="text-muted product-price">
                                        <i class="fas fa-lira-sign" style="font-size: 18px;"></i>
                                        @product.Price 
                                    </small>
                                }

                            </p>
                            @if (product.Stock == 0)
                            {
                                <p>
                                    <div class="text-danger"> <u>Tükendi <i class="fas fa-exclamation" style="font-size: 18px;"></i></u></div>
                                </p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


