@model Shopping.MVCWebUI.Models.OrderDetailsModel
@{
    ViewBag.Title = "Details";
}

    <div class="row">
        <div class="col-md-12">
            <h2>Sipariş Detay Bilgileri</h2>
            <hr />

            <dl class="row">
                <dt class="col-sm-3">Adres</dt>
                <dd class="col-sm-9">
                    @Model.AddressTitle
                    <hr />
                    @Model.Address <br />
                    @Model.City - @Model.District <br />
                </dd>

                <dt class="col-sm-3">Ürünler</dt>
                <dd class="col-sm-9">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Resim</th>
                                <th>Ad</th>
                                <th>Miktar</th>
                                <th>Fiyat</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var oLine in Model.OrderLines)
                            {
                            <tr>
                                <td>@oLine.ProductId</td>
                                <td><img src="~/Upload/@oLine.Image" width="100"/></td>
                                <td>@oLine.ProductName</td>
                                <td>@oLine.Quantity</td>
                                <td>@oLine.Price.ToString("C") </td>
                                <td>@Html.ActionLink("Detay","Details","Home",new {id = oLine.ProductId},new {@class = "btn btn-primary btn-sm" })</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </dd>
            </dl>

        </div>
    </div>
